.navbar {
  height: 70px;
  background: #ffffff;
  border-radius: 15px;
  padding: 0 25px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 5px 15px rgba(0,0,0,.08);

  margin: 15px;
}

.navbar-title {
  font-weight: 700;
  color: #16a34a;
  margin: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
}